input[type=text] {
    position: relative;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .loading {
    background-color: #ffffff;
    background-image: url("https://i.gifer.com/YlWC.gif");
    background-size: 25px 25px;
    background-position: right center;
    background-repeat: no-repeat;
  }
